# ================= BUILD =================
target/
build/
*.log

# ================= MAVEN =================
!.mvn/wrapper/maven-wrapper.jar

# ================= IDE =================
.idea
*.iws
*.iml
*.ipr
.vscode
.project
.classpath
.settings

# ================= OS =================
.DS_Store

# ================= CONFIG / SECRETS =================
application.properties
application-*.properties
.env